/*all element
* {
	text-align: center;
}
*/
.listtext:hover {
	border: 5px purple dotted;
}

#li1 {
	background: greenyellow;
	cursor: pointer;
	font-size: 150%;
}

/*google font*/
p {
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 20px;
	font-style: italic;
	font-size: 120%;
	font-family: 'Style Script', cursive;
	/*font-family: "Times New Roman", Georgia;*/
}

img {
	float: left;
}

footer {
	clear: both;
	text-align: center;
}